{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Blog {% endblock %}</title>
</head>
<body>
<!--<div class="container">-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Все задачи</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'project_index' %}">Все проекты</a>
                {% if user.is_authenticated %}
                {% if perms.tracker_app.change_article or issue.author == request.user %}
                <a class="nav-link active" aria-current="page" href="{% url 'add_project' %}">Добавить проект</a>
                <a class="nav-link active" aria-current="page" href="{% url 'add_issue' %}">Добавить задачу</a>
                {% endif %}

                {% block menu %} {% endblock %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary"  type="submit">Выйти</button>
                </form>
                {% else %}
                <a class="nav-link active"  href="{% url 'login'%}">Войти</a>
                <a class="nav-link active"  href="{% url 'register'%}">Зарегистрироваться</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>
{% block content %} {% endblock %}
</body>
</html>
